{% extends 'base.html.twig' %}

{% block title %}
    Produit : {{ product.name }}
{% endblock %}

{% block body %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('app_home')}}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ path('app_category_show', {'slug': product.category.slug }) }}">{{ product.category.name }}</a></li>
        <li class="breadcrumb-item active">{{  product.name }}</li>
    </ol>

    <h1>{{ product.name }}</h1>

    <div class="row">
        <div class="col-4">
            <img class="img-fluid" src="{{ product.picture }}" alt="Image de {{ product.name }}">
        </div>
        <div class="col">
            <span class="badge bg-primary">
                {{ product.category.name}}
            </span>
            <p>
                ({{ product.price | amount }})
            </p>
            <p>{{ product.shortDescription }}</p>
            {% if product.quantity == 0 %}
                <a class="btn btn-outline-danger" href="">Out of stock</a>
            {% else %}
                <a href="{{ path('app_cart_add', {'id': product.id}) }}" class="btn btn-outline-success">
                    <i class="fas fa-shopping-cart"></i>
                    Ajouter au panier
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}

