{% extends 'base.html.twig' %}

{% block title %}
    Connexion
{% endblock %}

{% block body %}
    <h1>Connexion</h1>

    {%  if error %}
        <div class="alert alert-danger">
            {{ error.message }}
        </div>
    {%  endif %}

    {{ form_start(formView) }}

    {{ form_widget(formView) }}

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    <button type="submit" class="btn btn-second">Connexion</button>

    {{ form_end(formView) }}
{% endblock %}
