<div class="card">
    <img src="{{ card.picture }}" class="img-fluid" alt="Product Image">
    <div class="card-body">
        <h4 class="card-title">{{ card.name }}</h4>
        <h6 class="card.subtitle">{{ (card.price / 100) | format_currency('EUR', locale='fr')}}</h6>

        <a class="badge bg-success" href="{{ path('app_category_show', {'slug': card.category.slug}) }}">
            {{ card.category.name }}
        </a>

        <p class="card-desc">{{ card.shortDescription }}</p>
        <a href="{{ path('product_show', {'category_slug': card.category.slug, 'product_slug': card.slug })}}" class="btn btn-second btn-sm">Détails</a>
        {% if product.quantity == 0 %}
            <a class="btn btn-outline-danger btn-sm">Out of Stock</a>
        {% else %}
            <a href="{{ path('app_cart_add', {'id': card.id}) }}" class="btn btn-outline-success btn-sm">Ajouter</a>
        {% endif %}
    </div>
</div>